body{
	font-family: 'Nunito', sans-serif;
	background-color: #E8EBF1;
}
.container-fluid{
	padding-right: 0!important;
	padding-left: 0!important;
}
.btn{
	border-radius: 2px;
}
.form-control{
	border-radius: 2px;
	
}